<template>
	<div class="flex flex-col justify-center items-center text-center">
		<h2 class="text-6xl mb-8">💀</h2>
		<h3 class="font-bold text-3xl mb-2">Vous avez été pendu !</h3>
		<p class="text-xl mb-6">
			Le mot était <em class="font-bold not-italic text-2xl">{{ word }}</em>
		</p>
		<div class="flex flex-col text-center mb-6">
			<p class="text-md mb-2 text-light-900">Vos ❤️ se réinitialisent dans :</p>
			<span class="mx-auto flex justify-center items-center bg-true-gray-900 rounded-lg px-6 py-2">
				<p class="text-2xl font-bold">{{ countdown }}</p>
			</span>
		</div>
		<div class="flex flex-row gap-4 mb-4">
			<Button class="<sm:text-sm" @click="openStat" title="Voir les statistiques de victoire">Statistiques 📊</Button>
			<Button class="<sm:text-sm" @click="share" title="Copier dans le presse-papier">{{ shareBtn }}</Button>
		</div>
		<div class="flex">
			<a :href="twitterUrl" class="px-4 py-2 text-md <sm:text-sm bg-sky-500 text-light-50 rounded-lg hover:bg-sky-600 active:outline-blue-500" title="Partager sur Twitter">
				Tweetez votre série !
			</a>
		</div>
	</div>
</template>

<script>
import Button from "./Button.vue";

export default {
	name: "Def",
	components: {
		Button,
	},
	props: {
		word: {
			type: String,
			default: "❔",
		},
		words: {
			type: Array,
			default: () => [],
		},
		victoryCount: {
			type: Number,
			default: 0,
		}
	},
	data() {
		return {
			countdown: "❔❔:❔❔:❔❔",
			shareBtn: "Partager 📣",
		}
	},
	mounted() {
		const timer = () => {
			const date = new Date();
			const leftMinute = 59 - date.getMinutes();
			const leftSecond = 59 - date.getSeconds();
			const parsedLh = `00`;
			const parsedLm = leftMinute < 10 ? `0${leftMinute}` : leftMinute;
			const parsedLs = leftSecond < 10 ? `0${leftSecond}` : leftSecond;
			return `${parsedLh}:${parsedLm}:${parsedLs}`;
		}
		this.countdown = timer();
		// Countdown
		setInterval((() => {
			this.countdown = timer();
		}).bind(this), 1000);
	},
	computed: {
		twitterUrl() {
			const encodedText = encodeURI(this.textToShare());
			return `https://twitter.com/intent/tweet?text=${encodedText}`;
		},
	},
	methods: {
		textToShare() {
			const day = new Date().getDate() > 9 ? new Date().getDate() : `0${new Date().getDate()}`;
			const month = new Date().getMonth() + 1 > 9 ? new Date().getMonth() + 1 : `0${new Date().getMonth() + 1}`;
			const intro = `Le Pendu 🪢 (@LePenduFun) ${day}/${month} ${localStorage.getItem("hours") ? localStorage.getItem("hours") : new Date().getHours()}h`;
			const winningStreak = this.$props.victoryCount > 0 ? `🏆 Série de ${this.$props.victoryCount} victoires` : `Pendu directement !`;
			const wordList = this.$props.words.length ? `🔎 Mots devinés :\n${this.words.join(', ').toUpperCase()}` : "";
			const wordDefeat = `💀 Pendu sur le mot : ${this.word.toUpperCase()}`;
			const url = "https://le-pendu.fun";
			return `${intro}\n${winningStreak}\n${wordList}\n${wordDefeat}\n${url}`;
		},
		async share() {
			try {
				await navigator.clipboard.writeText(this.textToShare());
				this.shareBtn = "Copié ! 🙌";
			} catch (error) {
				console.error(error);
			}
		},
		openStat() {
			this.$emit("openStat");
		}
	}
};
</script>
