<template>
	<button class="px-4 py-4 select-none rounded-lg active:outline-solid-gray-500 w-10 <sm:w-8 flex justify-center content-center text-md font-semibold text-light-50">
		<slot></slot>
	</button>
</template>
