<template>
	<div class="modal-container">
		<div class="modal rounded-xl bg-true-gray-800 text-light-50 py-12 px-8 <sm:px-6 <sm:py-8 <xs:py-4">
			<slot></slot>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.modal-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	z-index: 998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: relative;
	z-index: 999;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	max-width: 26rem;
}
</style>
