<template>
	<div class="flex flex-col items-center text-center">
		<div class="flex flex-col mb-6">
			<h2 class="font-semibold text-3xl mb-4 <sm:text-xl">Thèmes 🚧</h2>
			<p class="text-sm text-true-gray-500">
				Tous les thèmes de mot ne sont pas encore implémentés dans le jeu. Certains mots peuvent ne pas correspondre à leur thème, si c'est le cas notifiez moi sur Twitter <em class="not-italic text-light-50">@LePenduFun</em>
			</p>
		</div>
		<div class="flex flex-col mb-6">
			<h2 class="font-semibold text-3xl mb-4 <sm:text-xl">Règles</h2>
			<div>
				<Button @click="displayTuto">Règles</Button>
			</div>
		</div>
		<div class="flex flex-col mb-8">
			<h2 class="font-semibold text-3xl mb-4 <sm:text-xl">Crédits</h2>
			<div class="text-xs text-true-gray-500">
				<p class="mb-2">
					Fait avec ❤️‍🔥 par <Link class="font-bold" href="mailto:le-pendu-fun@protonmail.com">Ekkaia</Link>
				</p>
				<p class="mb-2">
					Écrit en <Link href="https://www.rust-lang.org/fr">Rust 🦀</Link>, compilé avec <Link href="https://webassembly.org/">WebAssembly 🟪</Link>, embarqué dans <Link href="https://v3.vuejs.org/">Vue 3 🟢</Link>, stylisé avec <Link href="https://windicss.org/">WindiCSS 💨</Link> et propulsé par <Link href="https://vitejs.dev/">Vite ⚡</Link>
				</p>
				<p>
					La mesure de l'audience du jeu est réalisé par l'outil <Link href="https://counter.dev">Counter.dev</Link>
				</p>
			</div>
		</div>
		<div class="flex flex-col mb-1">
			<Button @click="close">❌</Button>
		</div>
	</div>
</template>

<script>
import Link from "./Link.vue";
import Button from "./Button.vue";

export default {
	name: "Params",
	components: {
		Link,
		Button,
	},
	methods: {
		close() {
			this.$emit("close");
		},
		displayTuto() {
			this.$emit("displayTuto");
		}
	}
}
</script>
