<template>
	<div class="flex flex-col items-center text-center">
		<div class="flex flex-col mb-8">
			<h2 class="font-semibold text-3xl mb-6">Statistiques</h2>
			<ul class="flex flex-col text-sm text-light-900">
				<li class="flex flex-col gap-2 mb-4">
					<h3>Meilleure série</h3>
					<span class="mx-auto flex justify-center items-center bg-true-gray-900 rounded-lg px-6 py-2">
						<p class="text-2xl font-semibold">{{ bestVictoryCount }} 🏆</p>
					</span>
				</li>
				<li class="flex flex-col gap-2 mb-4">
					<h3>Jours de jeu consécutifs</h3>
					<span class="mx-auto flex justify-center items-center bg-true-gray-900 rounded-lg px-6 py-2">
						<p class="text-2xl font-semibold">{{ consecutivePlaying }} 📅</p>
					</span>
				</li>
				<li class="flex flex-col gap-2">
					<h3>Nombre de parties</h3>
					<span class="mx-auto flex justify-center items-center bg-true-gray-900 rounded-lg px-6 py-2">
						<p class="text-2xl font-semibold">{{ gameCount }} 🎮</p>
					</span>
				</li>
			</ul>
		</div>
		<div class="flex flex-col mb-1">
			<Button @click="close">❌</Button>
		</div>
	</div>
</template>

<script>
import Button from "./Button.vue";

export default {
	name: "Stat",
	components: {
		Button,
	},
	props: {
		bestVictoryCount: {
			type: Number,
			default: 0,
		},
		consecutivePlaying: {
			type: Number,
			default: 0,
		},
		gameCount: {
			type: Number,
			default: 0,
		}
	},
	methods: {
		close() {
			this.$emit("close");
		}
	}
}
</script>
