<template>
	<div class="flex flex-col justify-center items-center">
		<h2 class="text-4xl <sm:text-2xl font-bold mb-8 <sm:mb-4 text-center">Le jeu du pendu 🪢</h2>
		<div class="text-center mb-6 bg-true-gray-900 rounded-lg px-6 py-2">
			<p class="text-md <sm:text-sm">Vous avez été jugé coupable d'un crime atroce (du genre tricher au <Link href="https://wordle.louan.me/">Wordle</Link>), et vous allez être pendu... à moins que vous ne trouviez le mot caché en moins de 7 essais !</p>
		</div>
		<div class="mb-6 text-sm <sm:text-xs">
			<ul>
				<li class="mb-4 flex flex-row gap-4 items-center">
					<p class="text-lg select-none">🔎</p>
					<p>Trouvez le mot en devinant les lettres, vous avez 7 tentatives</p>
				</li>
				<li class="mb-4 flex flex-row gap-4 items-center">
					<p class="text-lg select-none">🏆</p>
					<p>Si vous trouvez le mot, bravo ! Vous pouvez continuer à jouer et enchaîner les victoires</p>
				</li>
				<li class="mb-4 flex flex-row gap-4 items-center">
					<p class="text-lg select-none">💀</p>
					<p>Si vous échouez, vous êtes pendu ! Vos vies se réinitialisent toutes les heures</p>
				</li>
				<li class="mb-4 flex flex-row gap-4 items-center">
					<p class="text-lg select-none">💖</p>
					<p>Jouez plusieurs jours de suite pour gagner des cœurs bonus</p>
				</li>
				<li class="mb-4 flex flex-row gap-4 items-center">
					<p class="text-lg select-none">🔮</p>
					<p>Sacrifiez un cœur pour obtenir un indice sur le mot</p>
				</li>
				<li class="flex flex-row gap-4 items-center">
					<p class="text-lg select-none">🪄</p>
					<p>Sacrifiez un cœur pour éliminer 3 lettres qui ne sont pas dans le mot</p>
				</li>
			</ul>
		</div>
		<div>
			<Button @click="close">Ok !</Button>
		</div>
	</div>
</template>

<script>
import Button from "./Button.vue";
import Link from "./Link.vue";

export default {
	name: "Tuto",
	components: {
		Button,
		Link,
	},
	methods: {
		close() {
			this.$emit("close");
		}
	}
}
</script>
