<template>
	<div class="flex flex-col justify-center items-center text-center">
		<h2 class="text-6xl mb-8">🎉</h2>
		<h3 class="font-bold text-3xl mb-2">Bravo ! Vous avez gagné</h3>
		<p class="text-xl mb-6">Le mot était <em class="font-bold not-italic text-2xl">{{ word }}</em></p>
		<p class="text-xl mb-8">Vous êtes sur une série de <em class="font-bold not-italic">{{ victoryCount }} victoires</em> ! 🏆</p>
		<div class="flex">
			<Button @click="newGame">Continuer ?</Button>
		</div>
	</div>
</template>

<script>
import Button from "./Button.vue";

export default {
	name: "Win",
	components: {
		Button,
	},
	props: {
		word: {
			type: String,
			default: "❔",
		},
		victoryCount: {
			type: Number,
			default: 0,
		}
	},
	methods: {
		newGame() {
			this.$emit("newGame");
		}
	}
}
</script>
