<template>
	<main @keyup="handleKeypress">
		<div class="py-8 layout">
			<div class="flex flex-col">
				<div class="text-center font-bold <sm:text-5xl text-7xl text-light-50 mb-20 <xs:mb-12">
					<h1>Le pendu 🪢</h1>
				</div>
				<div class="flex justify-center mb-2" v-if="guessStatus">
					<ul class="flex flex-row tracking-widest select-none">
						<li
							v-for="(char, index) in Array.from(guessStatus)"
							:key="index"
							class="w-14 h-16 rounded-lg transition-all border-2 flex justify-center items-center not-last:mr-2 <sm:w-10 <sm:h-14"
							:class="[{
								'bounce-char': char !== '❔' && !word.length,
								'<sm:w-10': guessStatus.length < 7,
								'<sm:w-8 <xs:w-6': guessStatus.length >= 7 && guessStatus.length <= 10,
								'<sm:w-6 <sm:not-last:mr-1': guessStatus.length > 10
							},
								!!word.length ? `delay-${index} bounce-char-endgame` : null,
								char === '❔' ? 'opacity-75 border-true-gray-500' : 'border-true-gray-300',
							]"
						>
							<span
								class="text-center text-light-50 font-bold text-4xl"
								:class="{
									'<sm:text-xl <xs:text-lg': guessStatus.length < 10,
									'<sm:text-lg <xs:text-sm': guessStatus.length < 12,
									'<sm:text-md <xs:text-xs': guessStatus.length >= 12,
								}"
							>{{ char.toUpperCase() }}</span>
						</li>
					</ul>
				</div>
			</div>
			<transition name="slide-fade">
				<div v-if="hints.length" class="flex justify-center items-center select-none text-center">
					<ul class="flex flex-col gap-4 <sm:gap-2">
						<li v-for="hint in hints" :key="hint">
							<p class="text-true-gray-400 text-xl <sm:text-lg <xs:text-sm text-semibold">{{ hint }}</p>
						</li>
					</ul>
				</div>
			</transition>
			<!-- KEYBOARD & HEARTS -->
			<div class="flex flex-col">
				<div class="flex justify-center items-center text-4xl select-none mb-6 gap-8 <sm:gap-4">
					<div class="text-2xl <sm:text-xl relative">
						<span title="Série de victoires">🏆</span>
						<div class="absolute left-4 -top-1 rounded-full w-5 h-5 <sm:w-3 <sm:h-3 bg-light-50 flex justify-center items-center">
							<p class="text-sm <sm:text-xs font-bold">{{ victoryCount }}</p>
						</div>
					</div>
					<ul class="flex flex-row <sm:text-2xl">
						<li v-for="death in (baseLives - lives)" :key="death" class="not-last:mr-2 opacity-50">
							💔
						</li>
						<li v-for="live in lives" :key="live" class="not-last:mr-2 bounce-heart" :class="[`delay-${live}`, `bounce-speed-${baseLives - lives}`]">
							❤️
						</li>
					</ul>
					<div class="text-2xl <sm:text-xl flex">
						<button
							@click="useBonusHeart"
							:class="bonusHeart ? 'pulse-heart' : 'opacity-50 cursor-not-allowed'"
							:disabled="!bonusHeart"
							title="Vie bonus"
						>💖</button>
					</div>
				</div>
				<div class="flex flex-col justify-center">
					<ul
						v-for="line in keyboard"
						:key="line"
						class="inline-flex flex-row justify-center not-last:pb-1"
					>
						<li v-for="key in line" :key="key.letter" class="not-last:pr-1">
							<Key
								@click="key.keyType !== keyType.key ? showParams(key) : guessLetter(key)"
								:class="[key.color, key.hover, {
									'cursor-not-allowed': key.isDisabled
								}]"
								:disabled="key.isDisabled"
								:title="key.alt"
								:aria-label="key.alt"
								tabindex="0"
							>{{ key.letter.toUpperCase() }}</Key>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<teleport to="body">
			<transition name="slide-fade">
				<Modal v-if="isGameFinished">
					<Win v-if="isWon"
						@newGame="createGame"
						:word="word"
						:victoryCount="victoryCount"
					/>
					<Defeat v-else
						@openStat="displayStat = true"
						:word="word"
						:words="words"
						:victoryCount="victoryCount"
					/>
				</Modal>
			</transition>
			<transition name="slide-fade">
				<Modal v-if="displayTuto">
					<Tuto @close="closeTuto" />
				</Modal>
			</transition>
			<transition name="slide-fade">
				<Modal v-if="displayParams">
					<Params @close="displayParams = !displayParams" @displayTuto="openTuto" />
				</Modal>
			</transition>
			<transition name="slide-fade">
				<Modal v-if="displayStat">
					<Stat @close="displayStat = false"
						:bestVictoryCount="bestVictoryCount"
						:consecutivePlaying="consecutivePlaying"
						:gameCount="gameCount"
					/>
				</Modal>
			</transition>
		</teleport>
	</main>
</template>

<script>
import Button from "./components/Button.vue";
import Key from "./components/Key.vue";
import Modal from "./components/Modal.vue";
import Link from "./components/Link.vue";
import Tuto from "./components/Tuto.vue";
import Win from "./components/Win.vue";
import Defeat from "./components/Defeat.vue";
import Params from "./components/Params.vue";
import Stat from "./components/Stat.vue";
import { Azerty, KeyType } from "./assets/keyboard";
import init, { Hangman } from "hangman";
import "normalize.css";

export default {
	name: "app",
	components: {
		Button,
		Key,
		Link,
		Modal,
		Defeat,
		Win,
		Tuto,
		Params,
		Stat,
	},
	data() {
		return {
			lives: null,
			baseLives: null,
			game: null,
			color: null,
			word: null,
			isGameFinished: false,
			isWon: false,
			hints: [],
			magicWandUsed: false,
			keyType: KeyType,
			guessStatus: null,
			// Modal
			displayTuto: false,
			displayParams: false,
			displayStat: false,
			bonusHeart: false,
			// End modal
			victoryCount: 0,
			countdown: null,
			bestVictoryCount: 0,
			consecutivePlaying: 0,
			gameCount: 0,
			words: [],
			keyboard: [],
		};
	},
	async mounted() {
		await this.createGame();
		const displayTuto = localStorage.getItem("display_tuto");
		if (displayTuto === null) {
			this.displayTuto = true;
		}

		const day = localStorage.getItem("day");
		const hours = localStorage.getItem("hours");
		const now = new Date();

		if (localStorage.getItem("consecutive_playing") && day) {
			if (now.getDate() === parseInt(day) + 1) {
				localStorage.setItem("consecutive_playing", parseInt(localStorage.getItem("consecutive_playing")) + 1);
			}
		} else {
			if (day === null) {
				localStorage.setItem("day", now.getDate());
			}
			if (hours === null) {
				localStorage.setItem("hours", now.getHours());
			}
			localStorage.setItem("consecutive_playing", 0);
		}
		// Defeat
		if (parseInt(day) === now.getDate() && parseInt(hours) === now.getHours() && localStorage.getItem("defeat") === "true") {
			this.isGameFinished = true;
			this.isWon = false;
			this.word = localStorage.getItem("defeat_word") ? localStorage.getItem("defeat_word") : "";
			this.words = localStorage.getItem("victory_words") ? localStorage.getItem("victory_words").split(",") : [];
		} else { // New game
			localStorage.setItem("defeat", false);
			localStorage.removeItem("defeat_word");
			localStorage.removeItem("victory_words");
			localStorage.removeItem("victory_count");
		}

		localStorage.setItem("day", now.getDate());
		localStorage.setItem("hours", now.getHours());

		document.addEventListener("keydown", (e) => {
			if (/^[a-z]$/i.test(e.key)) {
				const key = this.searchForKey(e.key);
				console.log(key);
				this.guessLetter(key);
			}
		})
	},
	watch: {
		lives(val) {
			if (val <= 0) { // If defeat
				this.defeat();
			} else {
				let lives = "";
				Array(this.baseLives)
					.fill("💔", 0, this.baseLives - this.lives)
					.fill("❤️", this.baseLives - this.lives, this.baseLives)
					.forEach((h) => lives += h);
				document.title = `Le pendu ― ${lives}`;
			}
		},
	},
	methods: {
		async createGame() {
			await init();
			const lives = 7;
			this.game = new Hangman(lives);
			this.guessStatus = this.game.get_guess_status();
			this.baseLives = this.game.get_lives();
			this.lives = this.baseLives;
			this.color = null;
			this.word = "";
			this.hints = [];
			this.magicWandUsed = false;
			this.isGameFinished = false;
			const gameCount = localStorage.getItem("game_count");
			this.gameCount = parseInt(gameCount) || 0;
			const bestVictoryCount = localStorage.getItem("best_victory_count");
			this.bestVictoryCount = parseInt(bestVictoryCount) || 0;
			const consecutivePlaying = localStorage.getItem("consecutive_playing");
			this.consecutivePlaying = parseInt(consecutivePlaying) || 0;
			this.bonusHeart = this.consecutivePlaying !== 0;
			this.isWon = false;
			this.victoryCount = parseInt(localStorage.getItem("victory_count")) || 0;
			const azerty = new Azerty();
			azerty.addSpecialKeys();
			this.keyboard = azerty.keyboard;
		},
		closeTuto() {
			this.displayTuto = !this.displayTuto;
			localStorage.setItem("display_tuto", false);
		},
		openTuto() {
			this.displayParams = false;
			this.displayTuto = true;
		},
		guessLetter(key) {
			if (this.game.is_alive() && !this.game.is_already_guessed(key.letter)) {
				const lives = this.lives;
				this.game.validate_user_guess(key.letter);
				this.guessStatus = this.game.get_guess_status();
				this.lives = this.game.get_lives();
				if (this.lives !== lives) { // Wrong letter
					key.color = "bg-red-700";
					key.hover = "hover:bg-red-700";
				} else { // Good letter
					key.color = "bg-emerald-700";
					key.hover = "hover:bg-emerald-700";
				}
				key.isDisabled = true;
				// If victory
				if (this.game.is_won()) {
					this.victory();
				}
			}
		},
		searchForKey(char) {
			let search = null;
			this.keyboard.forEach((line) => line.find((key) => key.letter === char ? search = key : null));
			return search;
		},
		handleKeypress(key) {
			console.log(key);
		},
		useBonusHeart() {
			if (this.bonusHeart && this.lives < this.baseLives) {
				this.bonusHeart = false;
				this.lives = this.game.use_bonus_heart();
			}
		},
		showParams(key) {
			switch (key.keyType) {
				case this.keyType.params:
					this.displayParams = true;
					break;
				case this.keyType.oracle:
					if (this.lives > 1 && !this.hints.length) {
						this.hints = this.game.use_hint().split(",");
						this.lives = this.game.get_lives();
						key.isDisabled = true;
						key.color = "bg-true-gray-800";
						key.hover = "bg-true-gray-800";
					}
					break;
				case this.keyType.stat:
					this.displayStat = true;
					break;
				case this.keyType.magicWand:
					if (this.lives > 1 && !this.magicWandUsed) {
						const charToRemove = Array.from(this.game.use_magic_wand());
						this.lives = this.game.get_lives();
						charToRemove.forEach((c) => {
							const keyToRemove = this.searchForKey(c);
							keyToRemove.color = "bg-red-700";
							keyToRemove.hover = "hover:bg-red-700";
							keyToRemove.isDisabled = true;
						});
						key.isDisabled = true;
						this.magicWandUsed = true;
						key.color = "bg-true-gray-800";
						key.hover = "bg-true-gray-800";
					}
					break;
				default:
					console.error(`ShowParams : keyType ${key.keyType} doesnt exist`)
			}
		},
		victory() {
			document.title = `Le pendu ― Vous avez gagné ! 🎉`;
			this.word = this.game.get_word_diacritics();
			this.color = "#047857";
			const victories = localStorage.getItem("victory_count");
			localStorage.setItem("victory_count", victories ? parseInt(victories) + 1 : 1);
			this.victoryCount += 1;
			this.words.push(this.word);
			setTimeout(() => {
				this.isGameFinished = true;
				this.isWon = true;
			}, this.word.length * 200 + 750);
		},
		defeat() {
			document.title = `Le pendu ― Vous avez perdu ! 💀`;
			this.word = this.game.get_word_diacritics();
			this.color = "#b91c1c";
			localStorage.setItem("victory_count", 0);
			localStorage.setItem("defeat", true);
			localStorage.setItem("defeat_word", this.word);
			localStorage.setItem("victory_words", this.words);
			localStorage.setItem("game_count", localStorage.getItem("game_count") ? parseInt(localStorage.getItem("game_count")) + 1 : 1);
			if (localStorage.getItem("best_victory_count")) {
				if (parseInt(localStorage.getItem("best_victory_count")) < this.victoryCount) {
					localStorage.setItem("best_victory_count", this.victoryCount);
				}
			} else {
				localStorage.setItem("best_victory_count", this.victoryCount);
			}
			this.bestVictoryCount = localStorage.getItem("best_victory_count");
			this.gameCount = localStorage.getItem("game_count");
			this.guessStatus = this.word;
			setTimeout(() => {
				this.isGameFinished = true;
				this.isWon = false;
			}, this.word.length * 200 + 750);
		},
	},
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$anim: cubic-bezier(0.280, 0.840, 0.420, 1);

html,
body {
	font-family: "Poppins", sans-serif;
	background-color: #171717;
}

html,
body,
#app,
main {
	height: 100%;
}

.layout {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 90%;
	max-width: 50rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.victory-count {
	top: 50%;
	transform: translateY(-50%) scale(0.75);
}

.slide-fade-enter-active {
	transition: all 0.5s $anim;
}

.slide-fade-leave-active {
	transition: all 0.5s $anim;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateY(30px);
	opacity: 0;
}

.pulse-heart {
	animation: pulse;
	animation-iteration-count: infinite;
	animation-timing-function: $anim;
	transition: all 0.5s $anim;
	animation-duration: 2s;
}

.bounce-heart {
	animation: bounce;
	animation-iteration-count: infinite;
	animation-timing-function: $anim;
}

.bounce-char-endgame {
	animation: bounce-endgame;
	animation-timing-function: $anim;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}

.bounce-char {
	animation: bounce;
	animation-timing-function: $anim;
	animation-duration: 1s;
}

@for $i from 1 through 15 {
	.delay-#{$i} {
		animation-delay: #{$i * 150}ms !important;
	}
}

@for $i from 0 through 6 {
	.bounce-speed-#{$i} {
		animation-duration: #{1.75 - $i * 0.25}s;
	}
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.05, 0.95) translateY(0);
	}
	30% {
		transform: scale(0.95, 1.05) translateY(-15px);
	}
	50% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
	}
}

@keyframes bounce-endgame {
	0% {
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.05, 0.95) translateY(0);
	}
	30% {
		transform: scale(0.95, 1.05) translateY(-15px);
	}
	50% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		transform: scale(1, 1) translateY(0);
		border-color: v-bind(color);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1, 1);
	}
	10% {
		transform: scale(1.2, 1.2);
	}
	30% {
		transform: scale(0.9, 0.9);
	}
	50% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
</style>
